@page "/"

<PageTitle>深色模式</PageTitle>


<h1 class="mt-5">Hello, world! 深色模式</h1>

<div>
    让我们来搞一个真正的深色主题。
    <br>
    <button class="btn btn-primary mt-2" onclick="darkmode.toggleDarkMode()">切换亮色与深色</button>
</div>


<h5 class="mt-5 mb-3">按钮们</h5>

<div class="card card-body">
    <p class="card-title">基础</p>
    <div class="mb-3">
        <button type="button" class="btn btn-primary">Primary</button>
        <button type="button" class="btn btn-secondary">Secondary</button>
        <button type="button" class="btn btn-success">Success</button>
        <button type="button" class="btn btn-danger">Danger</button>
        <button type="button" class="btn btn-warning">Warning</button>
        <button type="button" class="btn btn-info">Info</button>
        <button type="button" class="btn btn-light">Light</button>
        <button type="button" class="btn btn-dark">Dark</button>

        <button type="button" class="btn btn-link">Link</button>
    </div>

    <p class="card-title">Outline</p>
    <div class="mb-3">
        <button type="button" class="btn btn-outline-primary">Primary</button>
        <button type="button" class="btn btn-outline-secondary">Secondary</button>
        <button type="button" class="btn btn-outline-success">Success</button>
        <button type="button" class="btn btn-outline-danger">Danger</button>
        <button type="button" class="btn btn-outline-warning">Warning</button>
        <button type="button" class="btn btn-outline-info">Info</button>
        <button type="button" class="btn btn-outline-light">Light</button>
        <button type="button" class="btn btn-outline-dark">Dark</button>

        <button type="button" class="btn btn-link">Link</button>
    </div>

    <p class="card-title">Disabled</p>
    <div class="mb-3">
        <button type="button" class="btn btn-primary disabled">Primary</button>
        <button type="button" class="btn btn-secondary disabled">Secondary</button>
        <button type="button" class="btn btn-success disabled">Success</button>
        <button type="button" class="btn btn-danger disabled">Danger</button>
        <button type="button" class="btn btn-warning disabled">Warning</button>
        <button type="button" class="btn btn-info disabled">Info</button>
        <button type="button" class="btn btn-light disabled">Light</button>
        <button type="button" class="btn btn-dark disabled">Dark</button>

        <button type="button" class="btn btn-link">Link</button>
    </div>
</div>


<h5 class="mt-5 mb-3">卡片</h5>

<h6 class="mb-3">基础卡片</h6>

<div class="card mb-3">
    <div class="card-body">
        This is some text within a card body.
    </div>
</div>

<h6 class="mb-3">Header和Footer</h6>

<div class="card mb-3">
    <div class="card-header">
        Featured
    </div>
    <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
    <div class="card-footer text-muted">
        唔姆
    </div>
</div>


<h5 class="mt-5 mb-3">有色文本</h5>
<div class="card card-body">
    <p class="text-primary">.text-primary</p>
    <p class="text-secondary">.text-secondary</p>
    <p class="text-success">.text-success</p>
    <p class="text-danger">.text-danger</p>
    <p class="text-warning bg-dark">.text-warning</p>
    <p class="text-info bg-dark">.text-info</p>
    <p class="text-light bg-dark">.text-light</p>
    <p class="text-dark">.text-dark</p>
    <p class="text-body">.text-body</p>
    <p class="text-muted">.text-muted</p>
    <p class="text-white bg-dark">.text-white</p>
    <p class="text-black-50">.text-black-50</p>
    <p class="text-white-50 bg-dark">.text-white-50</p>
</div>




<h5 class="mt-5 mb-3">Link</h5>

<div class="card card-body">
    <div class="mb-3">
        <a href="#" class="link-primary">Primary link</a>
        <a href="#" class="link-secondary">Secondary link</a>
        <a href="#" class="link-success">Success link</a>
        <a href="#" class="link-danger">Danger link</a>
        <a href="#" class="link-warning">Warning link</a>
        <a href="#" class="link-info">Info link</a>
        <a href="#" class="link-light">Light link</a>
        <a href="#" class="link-dark">Dark link</a>
    </div>
</div>